<style type="text/css">
	body{
		background-color: #FFCC99;
		color: white;
	}

	h2{
		color: #FFFF66;
		text-align:center;
		margin: 50px;
		font-size:70px
	}

	p{
		text-align:center;
	}
</style>

<h2 class="display-4 text-primary">
	映画検索
</h2>

<p>
	<%= @msg %>
</p>

<!--ジャンルの一覧を表示している-->
<% @genres.each do |item| %>
<%= link_to item,genres: item %>
<% end %>

<!--検索で条件に合うタイトルを表示する。-->
<% @movies.each do | movie | %>
    <p><%= link_to movie.title,product_path(movie.title) %></p>
<% end %>