<style type="text/css">
	body{
		background-color: #FFCC99;
		color: white;
	}

	h2{
		color: #FFFF66;
		text-align:center;
		margin: 50px;
		font-size:70px
	}
	p{
		text-align:center;
	}
</style>

<h2 class="display-4 text-primary">
	映画検索
</h2>
<p>
	<%= @msg %>
</p>
<% for release_year in 1900..2020 do %>
<%= link_to release_year=(1900+2020)-release_year,year: release_year %>
<% end %>

<!--検索で条件に合うタイトルを表示する。メッセージも忘れずに。-->
<% @movies.each do | movie | %>
    <p><%= link_to movie.title,product_path(movie.title) %></p>
<% end %>
<p>
	<%= @msgs %>
</p>