<style type="text/css">
	body{
		background-color: #FFCC99;
		color: white;
		text-align:center;
	}
	.link{
	color:blue;
}
</style>

<p style="color: blue;font-size: 30px;margin-top: 60px;"><%= @msg %></p>

<div>
	<%=link_to '&lt;&lt;トップページへ戻る'.html_safe,home_index_path,{class: "link"}%>
</div>
