<h3>
	<p>レビューのご協力ありがとうございます!!</p>
</h3>

<p style="text-align: center">
!!日本語で入力してください!!
</p>

<p style="text-align: center">
	1.感想のタイトルを入力してください。
</p>
<p style="text-align: center">
	2.映画の感想を入力してください。
</p>
<%= render 'form', review: @review %>